<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/add_student.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>添加学生</h1>
        </div>
        <div class="edit">
            <form action="/students/new" method="post">
                <div class="form-group">
                  <label for="">姓名</label>
                  <input type="text" class="form-control" id="" name="name" required minlength="2" maxlength="10">
                </div>
                <div class="form-group">
                  <label for="">性别</label>
                  <div>
                    <label class="radio-inline">
                      <input type="radio" name="sex" id="" value="男" checked> 男
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="sex" id="" value="女"> 女
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label for="">年龄</label>
                  <input class="form-control" type="number" id="" name="age" required min="1" max="150">
                </div>
                <div class="form-group">
                  <label for="">爱好</label>
                  <input class="form-control" type="text" id="" name="hobby">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
              </form>
        </div>
    </div>
</body>
</html>